/* .contenedor-mostrar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
}
.card {
  padding: 5px;
  width: 45%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body img {
  height: 200px;
  border: solid 1px;
}
 */
